.tableRow {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 2fr 2fr 1.5fr;
  text-align: left;
  padding: 15px;
  align-items: center;
  border-bottom: 1px solid #eee;
  gap: 10px;
}

.tableRow > td:not(.button) {
  min-width: 150px;
}

.tableRow:last-child {
  border-bottom: none;
}

.tableData {
  color: var(--text-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 80%;
}

.statusContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text-color);
}

.status-0,
.status-1,
.status-2 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.status-0 {
  background-color: var(--pending-status-color);
}

.status-1 {
  background-color: var(--completed-status-color);
}
.status-2 {
  background-color: var(--canceled-status-color);
}

.assigneeImage {
  border-radius: 50%;
  margin-right: 10px;
}

.assigneeName {
  display: flex;
  align-items: center;
}

.detailButton {
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  border: 1px solid var(--secondary-border-color);
  padding: 8px 12px;
  outline: none;
  border-radius: 8px;
  color: var(--text-color);
  cursor: pointer;
  font-weight: bold;
}

.detailButton:hover {
  background-color: var(--button-hover-color);
  scale: 1.03;
}

.notFoundMessage {
  text-align: center;
  margin-top: 60px;
}

@media (max-width: 1024px) {
  .cardChartContainer {
    flex-direction: column;
  }
  .detailButton {
    font-size: 12px;
  }
  .tableData,
  .statusContainer {
    font-size: 14px;
  }
}
