.container {
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}

.body {
  width: 100%;
  height: 100vh;
  padding-left: 300px;
  transition: padding-left 0.3s ease-in-out;
}

.menuButton {
  display: none;
  background-color: #e7e7e7;
  border: none;
  outline: none;
  border-radius: 8px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .body {
    padding-left: 0;
  }

  .menuButton {
    display: inline-block;
  }
}
