@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #4a99d3;
  --secondary-color: #232637;
  --accent-color: #ff0000;
  --text-color: #333;
  --background-color: #fff;
  --secondary-background-color: #fcfcfc;
  --submit-button-color: #75aa16;
  --pending-status-color: #ffeb3bcf;
  --completed-status-color: #4caf4fce;
  --canceled-status-color: #f44336bb;
  --border-color: #e7e7e7e7;
  --secondary-border-color: #dadee5;
  --box-shadow-color: rgba(0, 0, 0, 0.05);
  --sidebar-item: #a8a9af;
  --button-hover-color: #f1f1f1e7;
  --pagination-color: #23263787;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background: linear-gradient(
      359deg,
      #4a99d3 -24.57%,
      rgba(74, 153, 211, 0.1) 76.31%
    ),
    url("./assets/icons/icons/top-bubble.svg") left top no-repeat,
    url("./assets/icons/icons/bottom-bubble.svg") right bottom no-repeat;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background: linear-gradient(
    359deg,
    #4a99d3 -24.57%,
    rgba(74, 153, 211, 0.2) 76.31%
  );
}
