.container {
  padding: 52px;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px;
}

.tableContainer {
  padding: 20px 40px;
  background-color: white;
  border-radius: 10px;
  height: 80%;
  overflow: scroll;
}

@media (max-width: 1024px) {
  .tableContainer {
    padding: 20px;
  }
}
