.sideBar {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: var(--secondary-color);
  padding: 24px 0;
  transition: transform 0.3s ease-in-out;
  z-index: 222;
}

.sideBarItems {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.sideBarItem {
  display: flex;
  height: 48px;
  align-items: center;
  gap: 8px;
  color: var(--sidebar-item);
  cursor: pointer;
}

.sideBarItem:hover {
  background-color: var(--border-color);
  border-radius: 8px;
  color: var(--text-color);
}

.sideBarItem:hover .sidebarIcon {
  color: var(--text-color);
}

.sidebarIcon {
  color: var(--sidebar-item);
  padding-left: 4px;
}

.active {
  background-color: transparent;
  color: var(--white-color);
  border-radius: 8px;
  font-weight: bold;
}

.active .sidebarIcon {
  color: var(--white-color);
}

.showButton {
  visibility: hidden;
}

.closeButton {
  background-color: transparent;
  outline: none;
  border: none;
  float: right;
  margin-right: 14px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .sideBar {
    transform: translateX(-300px);
  }
  .showButton {
    visibility: visible;
  }
}
