.backButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button,
.replyButton {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}

.backButton {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  margin-right: auto;
}

.replyButton {
  background-color: var(--submit-button-color);
  color: var(--white-color);
  border: none;
  margin-left: auto;
}

.replyButton:hover {
  scale: 1.03;
}

.commentTitle,
.comment {
  display: flex;
  align-items: center;
  gap: 4px;
}

.showCommentButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  cursor: pointer;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 12px;
}
.name {
  font-size: 24px;
  font-weight: bold;
}

.applicationId {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
}

.statusSelect {
  border-radius: 8px;
  padding: 4px 8px;
}

.informations {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-bottom: 10px;
}

.information {
  font-size: 14px;
  margin-top: 4px;
  color: var(--text-color);
}

.informationText {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 14px;
}

.bodyInformations {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  color: var(--text-color);
}

.date,
.commentDate {
  font-size: 14px;
  color: var(--text-color);
}

.commentDate {
  font-size: 12px;
  margin-top: 12px;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  color: var(--text-color);
}

.answerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  background-color: var(--secondary-background-color);
  border: 1px solid var(--border-color);
  margin: 20px 0px;
  border-radius: 8px;
  color: var(--text-color);
}

.messageText {
  width: 100%;
  background-color: var(--background-color);
  border-radius: 8px;
  height: 100px;
  border: 1px solid var(--border-color);
  padding: 8px;
  resize: none;
  color: var(--text-color);
}

.select {
  padding: 4px 16px;
  width: 150px;
  height: 40px;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  background-image: url("../../assets/icons/icons/down.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: calc(100% - 16px);
}

.statusContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.statusContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text-color);
}

.status-0,
.status-1,
.status-2 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.status-0 {
  background-color: var(--pending-status-color);
}

.status-1 {
  background-color: var(--completed-status-color);
}
.status-2 {
  background-color: var(--canceled-status-color);
}

.icon {
  color: var(--text-color);
}

.loadingContainer {
  position: absolute;
  inset: 0;
  margin-left: 300px;
}

@media (max-width: 768px) {
  .loadingContainer {
    margin-left: 0px;
  }
}
