.backButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button,
.replyButton {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}

.backButton {
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  margin-right: auto;
}

.replyButton {
  background-color: #008c29;
  color: white;
  border: none;
  margin-left: auto;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 12px;
}
.name {
  font-size: 24px;
  font-weight: bold;
}

.applicationId {
  font-size: 18px;
  font-weight: 600;
}

.statusSelect {
  border-radius: 8px;
  padding: 4px 8px;
}

.informations {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-bottom: 10px;
}

.information {
  font-size: 14px;
}

.informationText {
  color: #232637;
  font-weight: 600;
  font-size: 14px;
}

.bodyInformations {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.date {
  font-size: 14px;
  color: #333;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
}

.answerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  background-color: #fcfcfc;
  border: 1px solid #e7e7e7;
  margin: 20px 0px;
  border-radius: 4px;
}

.messageText {
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  height: 100px;
  border: 1px solid #e7e7e7;
  padding: 8px;
  resize: none;
}

.select {
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px 16px;
  width: 150px;
  height: 40px;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  background-image: url("../../assets/icons/icons/down.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: calc(100% - 16px);
}

.statusContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.statusContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.status-0,
.status-1,
.status-2,
.status-3 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.status-0 {
  background-color: #ffeb3bcf;
  color: #333;
}

.status-1 {
  background-color: #2195f3c9;
  color: white;
}
.status-2 {
  background-color: #4caf4fce;
  color: white;
}

.status-3 {
  background-color: #f44336bb;
  color: white;
}
