.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.image {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  border-radius: 8px;
}

.button {
  border-radius: 8px;
  cursor: pointer;
}

.icon {
  margin: auto;
}
