.select-container {
  margin: 10px;
  position: relative;
  display: inline-block;
}

select {
  width: 120px;
  height: 36px;
  padding: 4px 20px 4px 12px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  box-shadow: 0px 2px 4px var(--box-shadow-color);
  color: var(--text-color);
  outline: none;
  background-color: var(--background-color);
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  background-image: url("../../assets/icons/icons/down.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: calc(100% - 4px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

select:hover {
  box-shadow: 0px 4px 8px var(--box-shadow-color);
}
